*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    position: absolute;
    top: 160px;
    left: 380px;
    right: 150px;
}

section{
    padding: 40px;
    height:410px;
    width: 265px;
   
}
img{
    height: 30px;
}

.carro-1{
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 0 0 8px;
}

.carro-2{
    background-color: hsl(184, 100%, 22%);
}

.carro-3{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 8px 8px 0;
}

.botao-1, .botao-2, .botao-3{
    position:absolute;
    bottom: 40px;
    background-color: hsl(0, 0%, 95%);
    padding: 10px 25px 10px 25px;
    border-radius: 40px;
    font-weight: 500;
    font-size: 12px;
}
.botao-1{color: hsl(31, 77%, 52%);}
.botao-2{color: hsl(184, 100%, 22%);}
.botao-3{color: hsl(179, 100%, 13%);}

.botao-1:hover, .botao-2:hover, .botao-3:hover{
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

.texto{
   margin: 25px 22px 0 0 ;
   line-height: 20px;
 
}


h1{
    font-family: "Big Shoulders", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: hsl(0, 0%, 95%);
    margin:25px 0 3px 0;
}

p{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
}